; {{ ansible_managed }}

$TTL {{ authns_zone_db_ttl }}
@   IN SOA  {{ authns_zone_db_ns }}. {{ authns_zone_db_hostmaster }}. (
        {{ authns_zone_db_serial }}
        {{ authns_zone_db_refresh }}
        {{ authns_zone_db_retry }}
        {{ authns_zone_db_expire }}
        {{ authns_zone_db_minimum }}
    )
@   IN NS      {{ authns_zone_db_ns }}.

{% if authns_zone_db_ns_in_zone: %}
{% if authns_zone_db_ns_ip4: %}
{{ authns_zone_db_ns }}.    IN A {{ authns_zone_db_ns_ip4 }}
{% end %}
{% if authns_zone_db_ns_ip6: %}
{{ authns_zone_db_ns }}.    IN AAAA {{ authns_zone_db_ns_ip6 }}
{% endif %}
{% endif %}

$INCLUDE {{ authns_zone_rr_file }};
