// {{ ansible_managed }}

zone "{{ authns_zone_name }}" {
        type master;
        file "{{ authns_zone_db_file }}";

{% if authns_zone_allow_update: %}
        allow-update { {{ authns_zone_allow_update|join("; ") }}; };
{% endif %}

};
